<style>
  body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_640.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-login {
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  #header-login {
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fed41a;
    box-shadow: 0 0 10px rgb(255, 225, 0);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 0);
  }

  input {
    caret-color: #ddff00; /* สี cursor */
  }

  .input-group {
    position: relative;
  }

  .input-addon1,
  .input-addon2 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
  }

  .input-addon i {
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
  }

  #email,
  #password {
    padding: 6px 0px 6px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff
  }

  #email:focus, #username:focus, #password:focus, #password2:focus {
    border: 2px solid rgba(255, 255, 0);
  }

  #email::placeholder,
  #password::placeholder {
    color: #ffffff79;
  }

  .link {
    margin-top: 30px;
  }

  #link-register {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 50px;
    color: #ffffff79 !important;
  }

  #password-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .input-group-text i {
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
  }

  .input-group-text:hover i,
  .input-group-text:focus i {
    color: #f1c40f;
  }


  #remember {
    margin: 20px 0px -10px 10px;
  }

  #remember input[type="checkbox"] {
    transform: scale(1.5);
  }

  #remember label {
    font-weight: bold;
    color: #ffffff79;
  }

  #remember input[type="checkbox"]:checked+label {
    color: #007bff;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  #button {
    color: #fff;
    font-weight: bold;
    padding: 10px 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  #button:hover {
    transform: scale(1.05);
    font-weight: bold;
    box-shadow: 0 0 10px rgb(255, 225, 0);
    background-color: #f1c40f;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  .btn-google {
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
  }

  .btn-google:hover {
    background-color: #08c862 !important;
    box-shadow: 0 0 20px rgb(0, 255, 123) !important;
    border: 1px solid rgba(0, 255, 123, 0.3) !important;
    color: #fff !important;
  }

  #login-google {
    margin-left: 10px;
  }

  #Layer_1 {
    margin-top: 5px;
  }

  #email-error,
  #password-error {
    font-size: 14px;
    color: red;
    margin: 10px 0px 0px 10px;
  }

  #icon-check {
    font-size: 18px;
    color: green;
  }

  #submit-error {
    color: red;
  }
</style>

<%- include('../navbar') %>

  <form action="/users/login" method="post" class="container my-5 col-xl-4 col-lg-5 col-md-6">
    <div class="form-login">
      <div class="form-group">
        <label class="form-control text-center" id="header-login">Login</label>
      </div>
      <% if(message.length> 0 ) { %>
        <div class="alert alert-danger text-center" id="custom-message">
          <strong>
            <%= message %>
          </strong>
        </div>
        <% } %>

          <div class="form-group">
            <div class="input-group">
              <input type="email" id="email" class="form-control" placeholder="Email" name="email"
                onkeyup="validateEmail()">
              <div class="input-addon1" id="input-addon1"></div>
            </div>
            <div id="email-error"></div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                >
              <span class="input-group-text" id="password-toggle">
                <i class="fa fa-eye" onclick="togglePassword()"></i>
              </span>
            </div>
            <div id="password-error"></div>

            <div class="form-check" id="remember">
              <input type="checkbox" name="remember" class="form-check-input" id="dropdownCheck2">
              <label class="" for="dropdownCheck2">
                Remember me
              </label>
            </div>
          </div>

          <div class="button-container">
            <button type="submit" class="btn btn-warning" id="button" onclick="return validateForm()">
              เข้าสู่ระบบ
            </button>
          </div>
          <!-- <div id="submit-error"></div> -->

          <p id="link-register">ยังไม่มีบัญชี ? <a href="/users/register" style="color: #fff"><u>สมัครสมาชิก</u></a></p>
          <hr>
          <a href="/users/auth/google" class="btn btn-google pb-2 form-control">
            <?xml version="1.0" ?><svg enable-background="new 0 0 24 24" id="Layer_1" version="1.1" viewBox="0 0 24 24"
              xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              width="20" height="20">
              <g>
                <path
                  d="M12,5c1.6167603,0,3.1012573,0.5535278,4.2863159,1.4740601l3.637146-3.4699707   C17.8087769,1.1399536,15.0406494,0,12,0C7.392395,0,3.3966675,2.5999146,1.3858032,6.4098511l4.0444336,3.1929321   C6.4099731,6.9193726,8.977478,5,12,5z"
                  fill="#F44336" />
                <path
                  d="M23.8960571,13.5018311C23.9585571,13.0101929,24,12.508667,24,12   c0-0.8578491-0.093689-1.6931763-0.2647705-2.5H12v5h6.4862061c-0.5247192,1.3637695-1.4589844,2.5177612-2.6481934,3.319458   l4.0594482,3.204834C22.0493774,19.135437,23.5219727,16.4903564,23.8960571,13.5018311z"
                  fill="#2196F3" />
                <path
                  d="M5,12c0-0.8434448,0.1568604-1.6483765,0.4302368-2.3972168L1.3858032,6.4098511   C0.5043335,8.0800171,0,9.9801636,0,12c0,1.9972534,0.4950562,3.8763428,1.3582153,5.532959l4.0495605-3.1970215   C5.1484375,13.6044312,5,12.8204346,5,12z"
                  fill="#FFC107" />
                <path
                  d="M12,19c-3.0455322,0-5.6295776-1.9484863-6.5922241-4.6640625L1.3582153,17.532959   C3.3592529,21.3734741,7.369812,24,12,24c3.027771,0,5.7887573-1.1248169,7.8974609-2.975708l-4.0594482-3.204834   C14.7412109,18.5588989,13.4284058,19,12,19z"
                  fill="#00B060" />
                <path
                  d="M12,23.75c-3.5316772,0-6.7072754-1.4571533-8.9524536-3.7786865C5.2453613,22.4378052,8.4364624,24,12,24   c3.5305786,0,6.6952515-1.5313721,8.8881226-3.9592285C18.6495972,22.324646,15.4981079,23.75,12,23.75z"
                  opacity="0.1" />
                <polygon opacity="0.1" points="12,14.25 12,14.5 18.4862061,14.5 18.587492,14.25  " />
                <path
                  d="M23.9944458,12.1470337C23.9952393,12.0977783,24,12.0493774,24,12   c0-0.0139771-0.0021973-0.0274658-0.0022583-0.0414429C23.9970703,12.0215454,23.9938965,12.0838013,23.9944458,12.1470337z"
                  fill="#E6E6E6" />
                <path d="M12,9.5v0.25h11.7855721c-0.0157471-0.0825195-0.0329475-0.1680908-0.0503426-0.25H12z"
                  fill="#FFFFFF" opacity="0.2" />
                <linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="0" x2="24" y1="12" y2="12">
                  <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2" />
                  <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
                </linearGradient>
                <path
                  d="M23.7352295,9.5H12v5h6.4862061C17.4775391,17.121582,14.9771729,19,12,19   c-3.8659668,0-7-3.1340332-7-7c0-3.8660278,3.1340332-7,7-7c1.4018555,0,2.6939087,0.4306641,3.7885132,1.140686   c0.1675415,0.1088867,0.3403931,0.2111206,0.4978027,0.333374l3.637146-3.4699707L19.8414307,2.940979   C17.7369385,1.1170654,15.00354,0,12,0C5.3725586,0,0,5.3725586,0,12c0,6.6273804,5.3725586,12,12,12   c6.1176758,0,11.1554565-4.5812378,11.8960571-10.4981689C23.9585571,13.0101929,24,12.508667,24,12   C24,11.1421509,23.906311,10.3068237,23.7352295,9.5z"
                  fill="url(#SVGID_1_)" />
                <path
                  d="M15.7885132,5.890686C14.6939087,5.1806641,13.4018555,4.75,12,4.75c-3.8659668,0-7,3.1339722-7,7   c0,0.0421753,0.0005674,0.0751343,0.0012999,0.1171875C5.0687437,8.0595093,8.1762085,5,12,5   c1.4018555,0,2.6939087,0.4306641,3.7885132,1.140686c0.1675415,0.1088867,0.3403931,0.2111206,0.4978027,0.333374   l3.637146-3.4699707l-3.637146,3.2199707C16.1289062,6.1018066,15.9560547,5.9995728,15.7885132,5.890686z"
                  opacity="0.1" />
                <path
                  d="M12,0.25c2.9750366,0,5.6829224,1.0983887,7.7792969,2.8916016l0.144165-0.1375122   l-0.110014-0.0958166C17.7089558,1.0843592,15.00354,0,12,0C5.3725586,0,0,5.3725586,0,12   c0,0.0421753,0.0058594,0.0828857,0.0062866,0.125C0.0740356,5.5558472,5.4147339,0.25,12,0.25z"
                  fill="#FFFFFF" opacity="0.2" />
              </g>
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
              <g />
            </svg>
            <span id="login-google">Login with Google</span>
          </a>
    </div>

  </form>


  <!-- alert -->
  <script>
    setTimeout(function () {
      document.getElementById('custom-message').style.display = 'none';
    }, 4000);
  </script>

  <!-- ปุ่มซ่อน password -->
  <script>
    function togglePassword() {
      var passwordInput = document.getElementById("password");
      var passwordToggle = document.getElementById("password-toggle");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        passwordToggle.innerHTML = '<i class="fa fa-eye-slash" onclick="togglePassword()" style="font-size: 18px;"></i>';
      } else {
        passwordInput.type = "password";
        passwordToggle.innerHTML = '<i class="fa fa-eye" onclick="togglePassword()"></i>';
      }
    }
  </script>

  <script>
    let emailError = document.getElementById('email-error');
    let passwordError = document.getElementById('password-error');
    let submitError = document.getElementById('submit-error');
    let inputAddon1 = document.getElementById('input-addon1');

    function validateEmail() {
      let emailInput = document.getElementById('email');
      let email = document.getElementById('email').value;
      if (email.length == 0) {
        emailError.innerHTML = 'กรุณากรอกอีเมล์';
        emailInput.style.border = '1px solid red';
        inputAddon1.innerHTML = '';
        return false;
      }
      if (!email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
        emailError.innerHTML = 'กรุณากรอกอีเมล์ให้ถูกต้อง'
        emailInput.style.border = '1px solid red';
        inputAddon1.innerHTML = '';
        return false;
      }
      emailError.innerHTML = '';
      emailInput.style.border = 'none';
      inputAddon1.innerHTML = `<div class="input-addon1">
                              <i class="fa-solid fa-circle-check" id="icon-check"></i>
                              </div>`;
      return true;
    }

    function validatePassword() {
      let passwordInput = document.getElementById('password');
      let password = document.getElementById('password').value;
      if (password.length == 0) {
        passwordError.innerHTML = 'กรุณากรอกรหัสผ่าน';
        passwordInput.style.border = '1px solid red';
        return false;
      }
      passwordError.innerHTML = '';
      passwordInput.style.border = 'none';
      return true;
    }

    function validateForm() {
      if (!validateEmail() || !validatePassword()) {
        submitError.style.display = 'block';
        submitError.innerHTML = 'กรุณากรอกข้อมูลให้ครบถ้วน'
        setTimeout(function () {
          submitError.style.display = 'none';
        }, 4000)
        return false;
      }
    }
  </script>