<style>
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        /* ทำให้เนื้อหาเรียงเป็นแถว 3 ส่วน โดย footer จะอยู่ในแถวสุดท้าย */
    }

    .social-icons {
        text-align: center;
        margin-top: 10px;
    }

    .social-icons a {
        color: #fff;
        font-size: 24px;
        margin: 0 10px;
    }

</style>

<footer class="py-4 mb-0" style="background-color: #363b41;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2025 Atit Chabsateinvorakul</p>
        <div class="social-icons">
            <a href="https://web.facebook.com/pinggles"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/Atitzz"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>
